.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('l4.avif'); 
    background-size: cover; 
    background-position: center; 
  }
  
  .registration-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form .form-group {
    margin-bottom: 20px;
  }
  
  .registration-form label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
  }
  
  .registration-form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-form button {
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .registration-form button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Move button slightly up on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
  }
  .registration-form button:active {
    transform: translateY(1px); /* Move button slightly down when clicked */
    box-shadow: none; /* Remove shadow when clicked */
  }